@model WebApplication2.Models.SignInModel

@if(ViewContext.ModelState.IsValid == false)
{
    <div asp-validation-summary="All" class="form-validation"></div>
}

<form class="form-signin" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
    <h2>Please sign in</h2>
    <label class="sr-only">Username</label>
    <input type="text" class="form-control" placeholder="UserName" asp-for="Username" />

    <label class="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="Password" asp-for="Password" />

    <button class="btn btn-lg btn-primary btn-block">Sign In</button>
</form>

